* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid white;
  margin: 5px;
}
body {
  width: 100%;
  height: 100vh;
  background-color: lightgrey;
  margin: 0 auto;
}

.arrow-img {
  width: 40px;
  position: relative;
  top: 5px;
  left: 10px;
  opacity: 1;
}

.num-views {
  position: relative;
  top: -25px;
  right: -200px;
  font-size: 1rem;
  color: white;
  opacity: 1;
}

/*  Nav Area  */

header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;

}

nav {
  justify-content: flex-start;
  flex: 5;
  display: flex;
}

.links {
  display: flex;
  justify-content: flex-end;
}

i {
  margin: 0;
}

.links li {
  display: inline;
  margin: 0;
}

.links div {
  margin: 0 15px;
}

aside {
  justify-content: flex-end;
  flex: 2;
}

/*  Main Area  */

.place-holder {
  height: 150px;
  width: 100%;
  opacity: .6;
  margin-top: -55px;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
  display: block;
}

.shares {
  width: 100%;
  height: 100px;
}

.box-content-top-area p {
  height: auto;
}

section.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
  margin: auto;
  max-width: 1440px;
}

article.box-content {
 display: flex;   
 flex-direction: column;
}

article {
  width: 340px;
  height: 450px;
}






