* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  /*border: 1px solid white;*/
  /*margin: 5px;*/
}
body {
  width: 100%;
  height: 100vh;
  background-color: lightgrey;
  margin: 0 auto;
}

/*  Nav Area  */

header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #2B2B2B;
  color: #919191;
  padding: 10px 10px 20px;
  max-height: 150px;
}

nav {
  justify-content: flex-start;
  flex: 5;
  display: flex;
}

aside {
  padding: 1px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.admin-link {
  flex: 1;
  margin-bottom: 10px;
  font-size: 1rem;
}

.company-logo {
  flex: 1;
  text-align: center;
  font-size: 2.75rem;
}

.links, .link-sub-menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: flex-end;
  max-height: 100%;
}

.shares-link, .admin-icon, .company-logo, .link-sub-menu {
  color: white;
}

i {
  margin: 0;
  margin-right: 5px;
}

.playlist-link i, .personal-videos-link i, .admin-link {
  color: #4c9ad1;
}

.links li, .link-sub-menu li {
  display: inline;
  margin: 0;
}

.links div, .link-sub-menu div {
  margin: 5px 15px;
  align-self: flex-start;
  justify-content: center;
}

.link-sub-menu {
  display: none;

}

/*  Main Area  */

main {
  background-color: #ffffff;
  color: #5d5d5d;
}

.shares {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #efefef;
}

.shares p {
  justify-content: center;
  font-size: 3rem;
  padding: 25px;
}

.arrow-img {
  margin-top: 0px;
  margin-left: 0px;
  width: 50px;
  border-radius: 50%;
  background-color: #4c9ad1;
  color:black;
}

.num-views {
  font-size: 1rem;
  color: #ffffff;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 50px;
  margin-top: -15px;
  margin-right: -20px;
}

.nums {
  font-size: 2.5rem;
  margin-top: -3px;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
  display: block;
}

.box-content-top-area {
  background: center url('image1.jpg');
  background-size: cover;
  height: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.box-content-top-area p {
  height: auto;
}

section.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
  margin: auto;
  /*max-width: 1440px;*/
}

article.box-content {
 display: flex;   
 flex-direction: column;
 border: 2px solid #2b2b2b;
 box-shadow: 0 0 3px 4px lightgrey;
 width: 320px;
 height: auto;
 margin: 5px;
 align-content: space-around;
 padding: 10px 20px 20px;
}

.box-content-name-date {
  padding-top: 20px;
}

.box-content-attachments h4 {
  color: #5BB8F9;
}

.website {
  word-wrap: break-word;
  padding: 10px;
  background-color: lightgray;
  text-align: left;
}
/*
@media screen and (max-width: 740px) {
  main {
    display: block;    
  }
}*/

@media screen and (max-width: 450px) {
  .links {
    display: none;
  }
  .link-sub-menu {
    display: inline-block;
    font-size: 2rem;
  }

}



