* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid white;
  margin: 5px;
}
body {
  width: 100%;
  height: 100vh;
  background-color: lightgrey;
  margin: 0 auto;
}

/*  Nav Area  */

header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;

}

nav {
  justify-content: flex-start;
  flex: 5;
  display: flex;
}

aside {
  justify-content: flex-end;
  flex: 2;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.shares-link, .admin-icon, .company-logo {
  color: white;
}

i {
  margin: 0;
  margin-right: 5px;
}

.playlist-link i, .personal-videos-link i, .admin-link {
  color: blue;
}

.links li {
  display: inline;
  margin: 0;
}

.links div {
  margin: 0 15px;
}


/*  Main Area  */

section .content-boxes {
  display: flex;
}

.shares {
  width: 100%;
  height: 100px;
  display: flex;
}

.shares p {
  justify-content: center;
  font-size: 3rem;
  padding: 25px;
}

.arrow-img {
  margin-top: 15px;
  margin-left: 15px;
  width: 50px;
  border-radius: 50%;
  background-color: lightgrey;
  color:black;
}

.num-views {
  font-size: 1rem;
  color: white;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50px;
  margin-top: 10px;
  margin-right: 10px;
}

.nums {
  font-size: 2.5rem;
  margin-top: -3px;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
  display: block;
}

.box-content-top-area {
  background: center url('image1.jpg');
  background-size: cover;
  height: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.box-content-top-area p {
  height: auto;
}

section.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
  margin: auto;
  max-width: 1440px;
}

article.box-content {
 display: flex;   
 flex-direction: column;
 padding: 15px;
}

article {
  width: 340px;
  height: 450px;
}

.box-content-attachments h4 {
  color: blue;
}

.website {
  word-wrap: break-word;
  padding: 0px 10px 0px;
  background-color: gray;
  text-align: left;
}




